
<h1><input type='textfield' placeholder="czyje?" id="q"></input></h1>

<table class='table'>
<!--   <tr>
    <th>data</th>
    <th>imię</th>
    <th>nazwisko</th>
    <th>pseudonim</th>
    <th>zdjęcie</th>
  </tr> -->

	<% current_user.birthdays.each do |birthday| %>
	  <tr class="search_item">
	    <td><%= birthday.date %></td>
	    <td class="search_text"><%= birthday.name %></td>
	    <td class="search_text"><%= birthday.surname %></td>
	    <td class="search_text"><%= birthday.nick %></td>
      <td>
      	<%= link_to 'zmień', edit_user_birthday_path(current_user, birthday), class: 'btn btn-mini' %>
      	<%= link_to 'pozbądź się', user_birthday_path(current_user, birthday), method: :delete, class: 'btn btn-mini btn-danger' %> 
      </td>
	  </tr>
	<% end %>
</table>
